<link rel="stylesheet" href="plugins/kodi/core/template/mobile/css/mobile.css" />
<div class="eqLogic eqLogic-widget kodi" data-version="mobile" style="overflow:hidden;text-align:center; width: 420px; height:19.34em; padding-bottom:0px;" data-eqLogic_id="#id#">
	<div class="card effect__click">
		<div class="card__front">
			<div class="front_kodi">
				<img src="" id="type_media_#id#" style="position:absolute;left:5px; height:0.8em; top:5px;opacity: 0.3;"/>
				<span style="position:absolute; right:5px; font-size:0.7em; color: #404040 ;top:5px;">#endtime_media#</span>
				<strong style="margin-left:auto;margin-right:auto;">#name#</strong>
				<div style="margin-top : 5px; height:12em;">
					<div id="jaquette_kodi_gros_#id#" style="height:8em;">
					<img id="jaquette_kodi_#id#" src="#thumbnail#" style="margin-left:auto;margin-right:auto;height:100%;border-radius:5%;"/>
					</div>
					<div id="jaquette_kodi_telecommande_#id#" style="height:8em; display:none;">
					<img class="bouton_gauche_kodi" src="plugins/kodi/core/template/dashboard/images/chevron.png" title="Gauche" onclick="jeedom.cmd.execute({id: #cmd_left_id#});" />
					<img class="bouton_droit_kodi" src="plugins/kodi/core/template/dashboard/images/chevron.png" title="Droite" onclick="jeedom.cmd.execute({id: #cmd_right_id#});" />
					<img class="bouton_haut_kodi" src="plugins/kodi/core/template/dashboard/images/chevron.png" title="Haut" onclick="jeedom.cmd.execute({id: #cmd_up_id#});" />
					<img class="bouton_bas_kodi" src="plugins/kodi/core/template/dashboard/images/chevron.png" title="Bas" onclick="jeedom.cmd.execute({id: #cmd_down_id#});"/>
					
					<a class="commande_entree_kodi" style="text-decoration: none; color: black; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:1em;font-weight:bold;" title="Entrée" onclick="jeedom.cmd.execute({id: #cmd_ok_id#});">Entrée</a>
					
					<img id="jaquette_kodi_#id#" src="plugins/kodi/core/template/dashboard/images/kodi_logo.png" style="margin-left:auto;margin-right:auto;height:100%;border-radius:5%;"/>
					</div>
				<div id="jaquette_kodi_gros_aa_#id#" style="height:3.23em;">
				<span style="font-size:1em;">
					#titrehaut#
				</span>
				<br />
				<span style="font-size:0.7em;">
					#titrebas#
				</span>
				</div>
				<div id="jaquette_kodi_telecommande_aa_#id#" style="height:3.23em;display:none;">
				
				<img class="bouton_bas_aa" src="plugins/kodi/core/template/dashboard/images/retour.png" onclick="jeedom.cmd.execute({id: #cmd_back_id#});" />
		<img class="bouton_bas_aa" src="plugins/kodi/core/template/dashboard/images/home.png" onclick="jeedom.cmd.execute({id: #cmd_home_id#});" />
		<img class="bouton_bas_aa" src="plugins/kodi/core/template/dashboard/images/resize.png" onclick="jeedom.cmd.execute({id: #cmd_fullscreen_id#});" />
				
				</div>
				<div style="background-color:#5d9cec;height:6em;margin-top:0.5em;display:block;">
					<div style="height:3em;">
					<img class="bouton_bas" style="margin-right:0.2em;opacity: 0.5;" src="plugins/kodi/core/template/dashboard/images/sound63.png" onclick="telecommande_kodi#id#('sound');"/>
					<img class="change_gauche"  src="plugins/kodi/core/template/dashboard/images/change.png" onclick="jeedom.cmd.execute({id: #cmd_previous_id#});"/>
					<img class="bouton_bas" id="play_in_cercle_#id#"  src="plugins/kodi/core/template/dashboard/images/play1.png" onclick="jeedom.cmd.execute({id: #cmd_play_id#});" style="margin-left:0.32em;" />
                    <img class="bouton_bas" id="pause_in_cercle_#id#"  src="plugins/kodi/core/template/dashboard/images/pause.png" onclick="jeedom.cmd.execute({id: #cmd_pause_id#});" />
					<img class="bouton_bas"  src="plugins/kodi/core/template/dashboard/images/change.png" onclick="jeedom.cmd.execute({id: #cmd_next_id#});"/>
					<img class="bouton_bas" style="margin-left:0.2em;opacity: 0.5;" src="plugins/kodi/core/template/dashboard/images/speaker.png" onclick="telecommande_kodi#id#('telecommande');"/>
					</div>
					<div id="touche_bas_kodi_#id#" style="height:3em;">
					<img class="avance_gauche"  src="plugins/kodi/core/template/dashboard/images/advance.png" onclick="jeedom.cmd.execute({id: #cmd_stepbackward_id#});"/>
					<img class="bouton_bas"  src="plugins/kodi/core/template/dashboard/images/working.png" onclick="jeedom.cmd.execute({id: #cmd_osd_id#});"/>
					<img class="bouton_bas"  src="plugins/kodi/core/template/dashboard/images/stop.png" onclick="jeedom.cmd.execute({id: #cmd_stop_id#});"/>
					<img class="bouton_bas"  src="plugins/kodi/core/template/dashboard/images/advance.png" onclick="jeedom.cmd.execute({id: #cmd_stepforward_id#});"/>
					</div>
					<div id="volume_bas_kodi_#id#" style="height:3em;display:none;">
					<img class="bouton_bas"  src="plugins/kodi/core/template/dashboard/images/clockwise.png" onclick="telecommande_kodi#id#('start');"/>
					<img class="bouton_bas"  src="plugins/kodi/core/template/dashboard/images/sound.png" onclick="jeedom.cmd.execute({id: #cmd_volumeoff_id#});"/>
					<img class="bouton_bas"  src="plugins/kodi/core/template/dashboard/images/sound63.png" onclick="jeedom.cmd.execute({id: #cmd_volumemoins_id#});"/>
					<img class="bouton_bas"  src="plugins/kodi/core/template/dashboard/images/volume9.png" onclick="jeedom.cmd.execute({id: #cmd_volumeplus_id#});"/>
					</div>
					<div id="telecommande_bas_kodi_#id#" style="height:3em;display:none;">
						<img class="bouton_bas"  src="plugins/kodi/core/template/dashboard/images/clockwise.png" onclick="telecommande_kodi#id#('start');"/>
						<img class="bouton_bas"  src="plugins/kodi/core/template/dashboard/images/music.png" onclick="jeedom.cmd.execute({id: #cmd_musiclist_id#});" />
						<img class="bouton_bas"  src="plugins/kodi/core/template/dashboard/images/cinema.png" onclick="jeedom.cmd.execute({id: #cmd_movielist_id#});" />
						<img class="bouton_bas"  src="plugins/kodi/core/template/dashboard/images/tv.png" onclick="jeedom.cmd.execute({id: #cmd_tvlist_id#});" />
					</div>
	</div>
				</div>
		</div>
	</div>
	</div>
<script type="text/javascript">
	function play_pause_kodi#id#(ppk){
		if(ppk == 1){
			$("#play_in_cercle_#id#").css("display","none");
			$("#pause_in_cercle_#id#").css("display","");
		}else if(ppk == 0){
			$("#pause_in_cercle_#id#").css("display","none");
			$("#play_in_cercle_#id#").css("display","");
		}
	}
	
	function type_de_media_kodi#id#(type_media){
		if(type_media == 'Audio'){
			$("#type_media_#id#").attr("src","plugins/kodi/core/template/dashboard/images/music.png");
			$("#type_media_#id#").css("display","");
		}else if(type_media == 'Films'){
			$("#type_media_#id#").attr("src","plugins/kodi/core/template/dashboard/images/cinema.png");
			$("#type_media_#id#").css("display","");
		}else if(type_media == 'Séries'){
			$("#type_media_#id#").attr("src","plugins/kodi/core/template/dashboard/images/tv.png");
			$("#type_media_#id#").css("display","");
		}else{
			$("#type_media_#id#").css("display","none");
		}
	}
	
	function telecommande_kodi#id#(type_telecommande){
		if(type_telecommande == 'sound'){
			$("#volume_bas_kodi_#id#").css("display","block");
			$("#telecommande_bas_kodi_#id#").css("display","none");
			$("#touche_bas_kodi_#id#").css("display","none");
			$("#jaquette_kodi_gros_#id#").css("display","block");
			$("#jaquette_kodi_telecommande_#id#").css("display","none");
			$("#jaquette_kodi_gros_aa_#id#").css("display","block");
			$("#jaquette_kodi_telecommande_aa_#id#").css("display","none");
		}else if(type_telecommande == 'telecommande'){
			$("#volume_bas_kodi_#id#").css("display","none");
			$("#telecommande_bas_kodi_#id#").css("display","block");
			$("#touche_bas_kodi_#id#").css("display","none");
			$("#jaquette_kodi_gros_#id#").css("display","none");
			$("#jaquette_kodi_telecommande_#id#").css("display","block");
			$("#jaquette_kodi_gros_aa_#id#").css("display","none");
			$("#jaquette_kodi_telecommande_aa_#id#").css("display","block");
		}else if(type_telecommande == 'start'){
			$("#volume_bas_kodi_#id#").css("display","none");
			$("#telecommande_bas_kodi_#id#").css("display","none");
			$("#touche_bas_kodi_#id#").css("display","block");
			$("#jaquette_kodi_gros_#id#").css("display","block");
			$("#jaquette_kodi_telecommande_#id#").css("display","none");
			$("#jaquette_kodi_gros_aa_#id#").css("display","block");
			$("#jaquette_kodi_telecommande_aa_#id#").css("display","none");
		}
	}
    
    function kodi_arreter#id#(target_kodi_arreter){
			if(target_kodi_arreter == 'Arrêt'){
				document.getElementById('jaquette_kodi_#id#').style.opacity = '0.3';
			}else{
				document.getElementById('jaquette_kodi_#id#').style.opacity = '1';
			}
		}
	
	play_pause_kodi#id#("#state_nb#");
	type_de_media_kodi#id#('#type_media#');
	kodi_arreter#id#('#titrehaut#');
	
</script>


</div>