<div class="eqLogic eqLogic-widget noResize sonos_widget sonos3" data-version="#version#" style="text-align:center; width: 240px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#;height:320px;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#">
	<link rel="stylesheet" href="plugins/sonos3/core/template/dashboard/css/style.css" />
	<span class="statusCmd" style="position : absolute;left : 0px;width : 30px;z-index: 1030;"></span>
	<div class="leftpanel">
		<div style="margin-left : 24px;overflow: auto;height: 327px;">
			<legend style="color : white;margin-bottom:2px;">Playlist</legend>
			<div class="playlistList" style="text-align:left;"></div>

			<legend style="color : white;margin-bottom:2px;">Radio</legend>
			<div class="radioList" style="text-align:left;"></div>

		</div>
		<img class="leftRafter" style="display:none;" src="plugins/sonos3/core/template/dashboard/images/chevron.png" title="Listes" onClick="panelLeftClose#uid#()"/>
	</div>
	<div class="rightpanel">
		<div style="margin-right : 24px;overflow: auto;height: 327px;background-color: #4a89dc;">
			<legend style="color : white;margin-bottom:2px;">Enceintes</legend>
			<div class="speakersList" style="text-align:left;"></div>

			<legend style="color : white;margin-bottom:2px;">En cours</legend>
			<div class="queueList" style="text-align:left;"></div>

		</div>
		<img class="rightRafter" style="display:none;" src="plugins/sonos3/core/template/dashboard/images/chevron.png" onClick="panelRightClose#uid#()"/>
	</div>
	<div class="uppart">
		<a href="#eqLink#" class="title_uppart" style="#hideEqLogicName#">#name_display# <span style="font-size: 0.85em;">#object_name#</span></a>
		<img class="rightRafter" src="plugins/sonos3/core/template/dashboard/images/chevron.png" onClick="panelRight#uid#()"/>
		<img class="leftRafter" src="plugins/sonos3/core/template/dashboard/images/chevron.png" onclick="panelLeft#uid#()"/>
		<div class="jaquette_sonos">
			<img src="#thumbnail#" class="affiche_premiere_sonos"/>
			<img src="#thumbnail#" class="affiche_deuxieme_sonos" />
			<img src="#thumbnail#" class="affiche_troisieme_sonos" />
		</div>
		<div class="title_downpart">
			<a class="title" style="text-decoration: none; cursor:default;">#title#</a>
			<br/>
			<a class="subtitle" style="text-decoration: none; cursor:default;">#state#</a>
		</div>
	</div>
	<div class="downpart" style="display:block;background-color: #sub-background-color#;">
		<img src="plugins/sonos3/core/template/dashboard/images/sound.png" height="15px" width="15px" class="bouton_sup_volume" onclick="volume_sonos#id#('bouton')" />
		<a class="shuffle cmd noRefresh" data-cmd_id="#shuffle_id#" onclick="jeedom.cmd.execute({id: #shuffle_id#});"><i class="fa fa-random"></i></a>
		<a class="repeat cmd noRefresh" data-cmd_id="#repeat_id#" onclick="jeedom.cmd.execute({id: #repeat_id#});"><i class="fa fa-repeat"></i></a>
		<img class="previous cmd noRefresh" data-cmd_id="#previous_id#" src="plugins/sonos3/core/template/dashboard/images/change.png" onclick="jeedom.cmd.execute({id: #previous_id#});" title="Précédent" />
		<div class="cercle_downpart">
			<img class="play_in_cercle cmd noRefresh" data-cmd_id="#play_id#" src="plugins/sonos3/core/template/dashboard/images/play1.png" onclick="jeedom.cmd.execute({id: #play_id#});" title="Lecture"/>
			<img class="pause_in_cercle cmd noRefresh" data-cmd_id="#pause_id#" src="plugins/sonos3/core/template/dashboard/images/pause.png" onclick="jeedom.cmd.execute({id: #pause_id#});" title="Pause" />
		</div>
		<div class="stop_sonos_widget cmd noRefresh" data-cmd_id="#stop_id#" onclick="jeedom.cmd.execute({id: #stop_id#});" title="Stop"></div>
		<a class="mute cmd noRefresh" data-cmd_id="#mute_id#" onclick="jeedom.cmd.execute({id: #mute_id#});"><i class="fa fa-volume-off"></i></a>
		<img class="next cmd noRefresh" data-cmd_id="#next_id#" src="plugins/sonos3/core/template/dashboard/images/change.png" onclick="jeedom.cmd.execute({id: #next_id#});" title="Suivant" />
	</div>
	<div class="volumeDownpart" style="display:none;background-color: #sub-background-color#;">
		<img src="plugins/sonos3/core/template/dashboard/images/working.png" height="15px" width="15px" class="bouton_sup_volume" onclick="volume_sonos#id#('volume')"/>
		<div class="volume_sonos_widget" style="margin-left: 40px;">
			<div class="volume cmd noRefresh" data-cmd_id="#setVolume_id#" style="width: 180px;" value="#volume#" ></div>
		</div>
	</div>

	<script>
		function panelRight#uid#(){
			$(".sonos3[data-eqLogic_uid=#uid#] .rightpanel").animate({right:"0px"});
			$(".sonos3[data-eqLogic_uid=#uid#] .rightpanel .rightRafter").show();
			panelLeftClose#uid#();
		}
		function panelRightClose#uid#(){
			$(".sonos3[data-eqLogic_uid=#uid#] .rightpanel").animate({right:"-200px"});
			$(".sonos3[data-eqLogic_uid=#uid#] .rightpanel .rightRafter").hide();
		}
		function panelLeft#uid#(){
			$(".sonos3[data-eqLogic_uid=#uid#] .leftpanel").animate({left:"0px"});
			$(".sonos3[data-eqLogic_uid=#uid#] .leftpanel .leftRafter").show();
			panelRightClose#uid#();
		}
		function panelLeftClose#uid#(){
			$(".sonos3[data-eqLogic_uid=#uid#] .leftpanel").animate({left:"-200px"});
			$(".sonos3[data-eqLogic_uid=#uid#] .leftpanel .leftRafter").hide();
		}

		function pause_and_play#uid#(ppk){
			if(ppk == 0){
				$(".sonos3[data-eqLogic_uid=#uid#] .pause_in_cercle").remove();
			} else if(ppk == 1){
				$(".sonos3[data-eqLogic_uid=#uid#] .play_in_cercle").remove();
			}
		}

		function volume_sonos#id#(bouton){
			if(bouton == 'bouton'){
				$('.sonos3[data-eqLogic_uid=#uid#] .volumeDownpart').css('display','block');
				$('.sonos3[data-eqLogic_uid=#uid#] .downpart').css('display','none');
			}else if(bouton == 'volume'){
				$('.sonos3[data-eqLogic_uid=#uid#] .volumeDownpart').css('display','none');
				$('.sonos3[data-eqLogic_uid=#uid#] .downpart').css('display','block');
			}
		}

		$(".sonos3[data-eqLogic_uid=#uid#] .volume").slider({
			min: 0,
			max: 100,
			range: "min",
			value: ('#volume#' == '') ? 0 : parseInt('#volume#')
		});
		$(".sonos3[data-eqLogic_uid=#uid#] .slider.slider-horizontal").css('z-index',1);
		$(".sonos3[data-eqLogic_uid=#uid#] .volume").on('slidestop', function (event,ui) {
			jeedom.cmd.execute({id: '#setVolume_id#', value: {slider: ui.value}});
		});
		$(".sonos3[data-eqLogic_uid=#uid#] .ui-slider-handle").css("background","transparent");
		$(".sonos3[data-eqLogic_uid=#uid#] .ui-slider-handle").css("border-color","transparent");
		$(".sonos3[data-eqLogic_uid=#uid#] .ui-slider-handle").append('<i class="fa fa-volume-up" style="color:#253E5E;font-size:1.2em;margin-top:-5px;cursor:pointer" title="Volume"></i>');
		pause_and_play#uid#(#state_nb#);

		if('#repeat_state#' == 1){
			$(".sonos3[data-eqLogic_uid=#uid#] .repeat").css('color','red');
		}
		if('#shuffle_state#' == 1){
			$(".sonos3[data-eqLogic_uid=#uid#] .shuffle").css('color','red');
		}
		if('#mute_state#' == 1){
			$(".sonos3[data-eqLogic_uid=#uid#] .mute").css('color','red');
		}
		if('#playlist#' != ''){
			playlist#id# = json_decode('#playlist#');
			playlistList#id# = '';
			for(var i in playlist#id#){
				playlistList#id# += '<span class="cursor playPlaylist" style="white-space: nowrap;margin-left:5px;text-align:left;" title="'+playlist#id#[i]+'"  data-name="'+playlist#id#[i]+'"><i class="fa fa-play"></i> '+playlist#id#[i]+'</span><br/>';
			}
			$(".sonos3[data-eqLogic_uid=#uid#] .playlistList").append(playlistList#id#);
		}

		$('.sonos3[data-eqLogic_uid=#uid#]  .playPlaylist').on('click',function(){
			$(".sonos3[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-spinner fa-spin"></i>');
			var name = $(this).attr('data-name');
			$.ajax({
				type: "POST", 
				url: "plugins/sonos3/core/ajax/sonos3.ajax.php", 
				data: {
					action: "playPlaylist",
					id :'#id#',
					playlist : name
				},
				dataType: 'json',
				global:false,
				error: function (request, status, error) {
					handleAjaxError(request, status, error);
				},
				success: function (data) { 
					if (data.state != 'ok') {
						$('#div_alert').showAlert({message: data.result, level: 'danger'});
						$(".sonos3[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-times"></i>');
						setTimeout(function() {
							$(".sonos3[data-eqLogic_uid=#uid#] .statusCmd").empty();
						}, 3000);
						return;
					}
					$(".sonos3[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-rss"></i>');
					setTimeout(function() {
						$(".sonos3[data-eqLogic_uid=#uid#] .statusCmd").empty();
					}, 3000);
				}
			});
		});

if('#radio#' != ''){
	radio#id# = json_decode('#radio#');
	radioList#id# = '';
	for(var i in radio#id#){
		radioList#id# += '<span class="cursor playRadio" style="white-space: nowrap;margin-left:5px;text-align:left;" data-name="'+radio#id#[i]+'" title="'+radio#id#[i]+'"><i class="fa fa-play"></i> '+radio#id#[i]+'</span><br/>';
	}
	$(".sonos3[data-eqLogic_uid=#uid#] .radioList").append(radioList#id#);
}

$('.sonos3[data-eqLogic_uid=#uid#] .playRadio').on('click',function(){
	$(".sonos3[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-spinner fa-spin"></i>');
	var name = $(this).attr('data-name');
	$.ajax({
		type: "POST", 
		url: "plugins/sonos3/core/ajax/sonos3.ajax.php", 
		data: {
			action: "playRadio",
			id :'#id#',
			radio : name
		},
		global:false,
		dataType: 'json',
		error: function (request, status, error) {
			handleAjaxError(request, status, error);
		},
		success: function (data) { 
			if (data.state != 'ok') {
				$('#div_alert').showAlert({message: data.result, level: 'danger'});
				$(".sonos3[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-times"></i>');
				setTimeout(function() {
					$(".sonos3[data-eqLogic_uid=#uid#] .statusCmd").empty();
				}, 3000);
				return;
			}
			$(".sonos3[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-rss"></i>');
			setTimeout(function() {
				$(".sonos3[data-eqLogic_uid=#uid#] .statusCmd").empty();
			}, 3000);
		}
	});
});

if('#queue#' != ''){
	queue#id# = json_decode('#queue#');
	queueList#id# = '';
	for(var i in queue#id#){
		queueList#id# += '<span class="cursor playTrack" style="white-space: nowrap;margin-left:5px;" data-position="'+i+'" title="'+queue#id#[i]+'"><i class="fa fa-play"></i> '+queue#id#[i]+'</span><br/>';
	}
	$(".sonos3[data-eqLogic_uid=#uid#] .queueList").append(queueList#id#);
}

$('.sonos3[data-eqLogic_uid=#uid#] .playTrack').on('click',function(){
	$(".sonos3[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-spinner fa-spin"></i>');
	var position = $(this).attr('data-position');
	$.ajax({
		type: "POST",
		url: "plugins/sonos3/core/ajax/sonos3.ajax.php", 
		data: {
			action: "playTrack",
			id :'#id#',
			position : position
		},
		global:false,
		dataType: 'json',
		error: function (request, status, error) {
			handleAjaxError(request, status, error);
		},
		success: function (data) { 
			if (data.state != 'ok') {
				$('#div_alert').showAlert({message: data.result, level: 'danger'});
				$(".sonos3[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-times"></i>');
				setTimeout(function() {
					$(".sonos3[data-eqLogic_uid=#uid#] .statusCmd").empty();
				}, 3000);
				return;
			}
			$(".sonos3[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-rss"></i>');
			setTimeout(function() {
				$(".sonos3[data-eqLogic_uid=#uid#] .statusCmd").empty();
			}, 3000);
		}
	});
});

if('#speakers#' != ''){
	speakers#id# = json_decode('#speakers#');
	speakersList#id# = '';
	for(var i in speakers#id#){
		speakersList#id# += '<span class="cursor" style="white-space: nowrap;margin-left:5px;" title="'+speakers#id#[i]+'"><i class="addSpeaker fa fa-plus" data-name="'+speakers#id#[i]+'"></i> <i class=" removeSpeaker fa fa-minus" data-name="'+speakers#id#[i]+'"></i> '+speakers#id#[i]+'</span><br/>';
	}
	$(".sonos3[data-eqLogic_uid=#uid#] .speakersList").append(speakersList#id#);
}


$('.sonos3[data-eqLogic_uid=#uid#] .addSpeaker').on('click',function(){
	$(".sonos3[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-spinner fa-spin"></i>');
	var name = $(this).attr('data-name');
	$.ajax({
		type: "POST", 
		url: "plugins/sonos3/core/ajax/sonos3.ajax.php", 
		data: {
			action: "addSpeaker",
			id :'#id#',
			speaker : name
		},
		global:false,
		dataType: 'json',
		error: function (request, status, error) {
			handleAjaxError(request, status, error);
		},
		success: function (data) {
			if (data.state != 'ok') {
				$('#div_alert').showAlert({message: data.result, level: 'danger'});
				$(".sonos3[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-times"></i>');
				setTimeout(function() {
					$(".sonos3[data-eqLogic_uid=#uid#] .statusCmd").empty();
				}, 3000);
				return;
			}
			$(".sonos3[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-rss"></i>');
			setTimeout(function() {
				$(".sonos3[data-eqLogic_uid=#uid#] .statusCmd").empty();
			}, 3000);
		}
	});
});

$('.sonos3[data-eqLogic_uid=#uid#] .removeSpeaker').on('click',function(){
	$(".sonos3[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-spinner fa-spin"></i>');
	var name = $(this).attr('data-name');
	$.ajax({
		type: "POST", 
		url: "plugins/sonos3/core/ajax/sonos3.ajax.php", 
		data: {
			action: "removeSpeaker",
			id :'#id#',
			speaker : name
		},
		global:false,
		dataType: 'json',
		error: function (request, status, error) {
			handleAjaxError(request, status, error);
		},
		success: function (data) {
			if (data.state != 'ok') {
				$('#div_alert').showAlert({message: data.result, level: 'danger'});
				return;
			}
			$(".sonos3[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-rss"></i>');
			setTimeout(function() {
				$(".sonos3[data-eqLogic_uid=#uid#] .statusCmd").empty();
			}, 3000);
		}
	});
});
</script>
</div>

