<div class="eqLogic eqLogic-widget noResize sonos3" data-version="#version#" style="text-align:center; width: 240px;background-color : #background_color#;height:320px;#style#" data-eqLogic_id="#id#">
	<style type="text/css">
		.sonos3 .cmd a {
			width: 30px;
			height:30px;
			font-size: 1em;
		}
		.sonos3 .cmd.col2 a {
			width: 85px;
			height: 30px;
			font-size: 1em;
		}
		@font-face {
			font-family: liquid;
			src:   url("plugins/sonos3/core/template/fonts/led_board-7.ttf") format("truetype");
			font-weight:normal;
			font-style:normal;
		}
		span.statusspSonos {
			font-family: liquid;
			font-size:10px;
			color: #text_color#;
			letter-spacing: 1px;
		}
		span.titlespSonos {
			font-family: liquid; 
			font-size:14px;
			color:  #text_color#;
			letter-spacing: 1px;
		}
		.arrondie {
			-moz-border-radius:7px;
			-webkit-border-radius:7px;
			border-radius:7px;
		}
	</style>
	<div>
		<a href="#eqLink#" style="font-size:1.5em;">#name#</a> <span style="font-size: 1.5em;position: relative;">#object_name#</span>
	</div>
	<div class="thumbnailAlbumArt">
		#thumbnail#</br>
	</div>
	<div style="position:relative;top:4px">
		<span class="titlespSonos">
			#title#
		</span>
	</div>
	
    <i class="fa fa-volume-off btn-xs"></i><div class="volume" style="z-index:1" value="#volume#" ></div>

	<div style="position:relative;top:4px">        
		<a class="btn btn-default btn-circle btn-xs cmd stop" data-cmd_id="#cmd_stop_id#"><i class="fa fa-stop"></i></a>
		<a class="btn btn-default btn-circle btn-xs cmd previous" data-cmd_id="#cmd_previous_id#"><i class="fa fa-step-backward"></i></a>
		<a class="btn btn-default btn-circle btn-xs cmd play" data-cmd_id="#cmd_play_id#"><i class="fa fa-play"></i></a>
		<a class="btn btn-default btn-circle btn-xs cmd pause" data-cmd_id="#cmd_pause_id#"><i class="fa fa-pause"></i></a>
		<a class="btn btn-default btn-circle btn-xs cmd next" data-cmd_id="#cmd_next_id#"><i class="fa fa-step-forward"></i></a>
	</div>
    
    <div style="position:relative;top:8px">
    	<a class="btn btn-default btn-circle btn-xs cmd shuffle" data-cmd_id="#cmd_shuffle_id#"><i class="fa fa-random"></i></a>&nbsp;
		<i class="fa fa-th-list cursor playlist tooltips" title="Playlists"></i>
		<i class="fa fa-rss cursor radioDisplay tooltips" title="Radio"></i>
        &nbsp;<span class="statusspSonos">#state#</span>&nbsp;
		<i class="fa fa-bars cursor queue tooltips" title="Liste de lecture"></i>
		<i class="fa fa-check-square-o cursor speaker tooltips" title="Grouper"></i>&nbsp;
		<a class="btn btn-default btn-circle btn-xs cmd repeat" data-cmd_id="#cmd_repeat_id#"><i class="fa fa-repeat"></i></a>
    </div>
    
	<script>
		$(".sonos3[data-eqLogic_id=#id#] .volume").bootstrapSlider({
			min: 0,
			max: 100,
			value: ('#volume#' == '') ? 0 : parseInt('#volume#')
		});
		$(".sonos3[data-eqLogic_id=#id#] .slider.slider-horizontal").css('z-index',1);
		$(".sonos3[data-eqLogic_id=#id#] .volume").on('slideStop', function (ev) {
			jeedom.cmd.execute({id: '#volume_id#', value: {slider: ev.value}});
		});
	</script>

	<script>

		if('#hideThumbnail#' == 1){
			$('.sonos3[data-eqLogic_id=#id#] .thumbnailAlbumArt').hide();
			$('.sonos3[data-eqLogic_id=#id#]').height(160);
		}

		if('#repeat_state#' == 1){
			$('.sonos3[data-eqLogic_id=#id#] .cmd.repeat').removeClass('btn-default').addClass('btn-success');
		}

		if('#shuffle_state#' == 1){
			$('.sonos3[data-eqLogic_id=#id#] .cmd.shuffle').removeClass('btn-default').addClass('btn-success');
		}

		if('#state_nb#' == 1){
			$('.sonos3[data-eqLogic_id=#id#] .cmd.play').hide();
		}else{
			$('.sonos3[data-eqLogic_id=#id#] .cmd.pause').hide();
		}

		$('.sonos3[data-eqLogic_id=#id#] .cmd').on('click', function() {
			jeedom.cmd.execute({id: $(this).data('cmd_id')});
		});

		$('.sonos3[data-eqLogic_id=#id#] .queue').on('click', function() {
			$('#md_modal2').dialog({title: "Musiques"});
			$('#md_modal2').load('index.php?v=d&plugin=sonos3&modal=queue.sonos&id=#id#').dialog('open');
		});

		$('.sonos3[data-eqLogic_id=#id#] .playlist').on('click', function() {
			$('#md_modal2').dialog({title: "Playlist"});
			$('#md_modal2').load('index.php?v=d&plugin=sonos3&modal=playlist.sonos&id=#id#').dialog('open');
		});

		$('.sonos3[data-eqLogic_id=#id#] .radioDisplay').on('click', function() {
			$('#md_modal2').dialog({title: "Radios"});
			$('#md_modal2').load('index.php?v=d&plugin=sonos3&modal=radio.sonos&id=#id#').dialog('open');
		});

		$('.sonos3[data-eqLogic_id=#id#] .speaker').on('click', function() {
			$('#md_modal2').dialog({title: "Haut parleur"});
			$('#md_modal2').load('index.php?v=d&plugin=sonos3&modal=speaker.sonos&id=#id#').dialog('open');
		});

	</script>
</div>

