.sonos3 .previous{
	margin-top: 7%;
	height: 50%;
	-ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-left: 0.1em;
    margin-right: 0.1em;
    cursor: pointer;
    opacity: 0.5;
}
.sonos3 .bouton_bas{
	height: 50%;
	margin-left: 0.1em;
    margin-right: 0.1em;
    cursor: pointer;
    opacity: 0.5;
}
.sonos3 .bouton_bas_aa{
	margin-top: 7%;
	height: 50%;
	margin-left: 0.1em;
    margin-right: 0.1em;
    cursor: pointer;
    opacity: 0.5;
}
.sonos3 .volume .ui-slider-handle{
    background-color:#3498db !important;
}
.eqLogic[data-eqLogic_uid=#uid#] .sliderOrder .ui-slider-handle{
    background-color:#3498db !important;
}