---
---
{% if site.themePersoActif %}
   {% assign themeCustom = site.themePerso %}
{% else %}
	   {% assign themeCustom = site.themeDefaut %}
{% endif %}

@import "{{ site.theme }}";
.page-header {
 padding: 1rem 6rem;
 color: #{{ themeCustom.head-color }};
 text-align:center;
 background-color: #{{ themeCustom.head-background-color }};
 background-image: none;
}

.main-content h1,.main-content h2,.main-content h3,.main-content h4,.main-content h5,.main-content h6 {
 margin-top:2rem;
 margin-bottom:1rem;
 font-weight:normal;
 color:#{{ themeCustom.hx-color }};/*#82BA1B;*/
}
blockquote {
 background-color:#F3F6FA;
}



