.card__front {
  background-color:#4a89dc;
}

.card__back {
  background-color: #1e1e1e;
}
.avance_gauche{
	margin-top: 7%;
	height: 50%;
	-ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-left: 0.1em;
    margin-right: 0.1em;
    cursor: pointer;
    opacity: 0.5;
}
.change_gauche{
	margin-top: 7%;
	height: 50%;
	-ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-left: 0.1em;
    margin-right: 0.1em;
    cursor: pointer;
    opacity: 0.5;
}
.bouton_bas{
	margin-top: 7%;
	height: 50%;
	margin-left: 0.1em;
    margin-right: 0.1em;
    cursor: pointer;
    opacity: 0.5;
}
.bouton_bas_aa{
	margin-top: 7%;
	height: 50%;
	margin-left: 0.1em;
    margin-right: 0.1em;
    cursor: pointer;
    opacity: 0.5;
}
.bouton_gauche_kodi{
	opacity: 0.5;
	position: absolute;
	height:5em;
	height: 3em;
	top:4em;
	cursor: pointer;
}
.bouton_droit_kodi{
	opacity: 0.5;
	position: absolute;
	height:5em;
	height: 3em;
	top:4em;
	margin-left:6em;
	cursor: pointer;
	-ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.bouton_haut_kodi{
	opacity: 0.5;
	position: absolute;
	height:5em;
	height: 3em;
	top:1.3em;
	margin-left:3.1em;
	cursor: pointer;
	-ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.bouton_bas_kodi{
	opacity: 0.5;
	position: absolute;
	height:5em;
	height: 3em;
	top:7em;
	margin-left:3.1em;
	cursor: pointer;
	-ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.commande_entree_kodi{
	opacity: 0.5;
	position: absolute;
	height:5em;
	height: 3em;
	top:5em;
	margin-left: 2.4em;
	cursor: pointer;
}